
.testimonios-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonial {
    background-color: #e0e0e0;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
}

.testimonial .profile-pic {
    width: 80px;
    height: 80px;
    background-color: #c0c0c0;
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
    top: -25px;
    left: 20px;
}
 
.testimonial .name {
    margin-left: 80px;
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

.testimonial .text {
    font-size: 0.9em;
    margin-top: 16px;
    color: var(--negro);
    text-align: justify;
}