/* Principio */

.home-titulo{
    /* font-size: 61px;
    color: var(--negro); */
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
.home-box-princio {
    display: flex;
    padding: 24px;
    margin-block: 80px;
}

.home-parrafo {
    font-size: 24px;
    width: 680px;
    gap: 32px;
    margin-top: 32px;
}

.home-imagen {
    width: 460px;
    height: 437px;
    border-radius: 16px;
}



/* segunda parte */

.home-box-recomendaciones{
    padding: 24px;
    margin-block: 80px;
}

.home-subtitulo{
    font-size: 49px;
    text-align: center;
    margin-bottom: 32px;
}

.home-card-contenido {
    display: flex;
    width: 216px;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: var(--amarillo);
    border-radius: 16px;
}

.home-card-contenido:hover{
    box-shadow: 8px 8px 40px
}

.home-card-contenido p {
    text-align: center;
}

.home-card {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.home-card-imagen {
    width: 70px;
    height: 70px;
}

