@import url(./footer.css);
@import url(./header.css);
@import url(./encuesta.css);
@import url(./contacto.css);
@import url(./casos_testimonios.css);
@import url(./recursos.css);
@import url(./about.css);
@import url(./actions.css);
@import url(./home.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --blanco: #ffffff;
    --negro: #212121;
    --marron: #582707;
    --ladrillo: #972d07;
    --naranja: #ff4b3e;
    --amarillo: #ffb20f;
    --h1-bold: 700 3.8125rem/normal Inter;
    --h2-bold: 700 3.0625rem/normal Inter;
    --h4-bold: 700 2.4375rem/normal Inter;
    --h4-bold: 700 1.9375rem/normal Inter;
    --h5-bold: 700 1.5625rem/normal Inter;
    --h6-bold: 700 1.25rem/normal Inter;
    --parrafo: 400 1rem/normal Inter;
    --small: 400 0.8125rem/normal Inter;
    --x-small: 400 0.625rem/normal Inter;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
}

.button {
    padding: 16px;
    background-color: var(--naranja);
    color: var(--blanco);
    text-decoration: none;
    border-radius: 8px;
    font: var(--parrafo);
}